
	<div class="container">
	<div class="content">
	<div class="page-header">
		<h2>About the MHS DA</h2>
		</div>
		<h3><%=@pass%></h3>
		<h3>Hello fair adventurer!</h3>
		<p>Obviously our home page has piqued you interest and you would like to know more. Well remember be careful what you wish for because you're know</p>
		<h3>What we like</h3>
		<p>Below is an aweomse list of things we like, however its not a complete list.</p>
		
		<ul class="unstyled things-we-like">
			<li><img src="/images/chang.jpg">Harry Potter books</li>
			<li><img src="/images/chang.jpg">Lost</li>
			<li><img src="/images/chang.jpg">Inception</li>
			<li><img src="/images/chang.jpg">Minecraft</li>
			
			<li><img src="/images/chang.jpg">Community</li>
			<li><img src="/images/chang.jpg">The Office</li>
			<li><img src="/images/chang.jpg">Harry Potter Movies</li>
			<li><img src="/images/chang.jpg">Star Wars (sometimes)</li>
			<li><img src="/images/ali-tatoo.jpg">Ali's tatoo</li>
			<li><img src="/images/chang.jpg">Being loud</li>
			<li><img src="/images/chang.jpg">Mischeif</li>
			<li><img src="/images/chang.jpg">Shoes</li>
			<li><img src="/images/chang.jpg">Video Games</li>
			<li><img src="/images/chang.jpg">Zelda</li>
			<li><img src="/images/chang.jpg">Computers</li>
			<li><img src="/images/chang.jpg">Pranks</li>
			<li><img src="/images/chang.jpg">Making up school events</li>
			<li><img src="/images/chang.jpg">Accents</li>
			<li><img src="/images/chang.jpg">The UK</li>
			<li><img src="/images/chang.jpg">Germany</li>
		</ul>
		<div class="cf"></div>
		<h3>What a list right?</h3>
		<p>Yea we are pretty awesome people we know. So you want to join?</p>
		<h3>How to join</h3>
		<p>It's a long process. Here's how.</p>
		<ol type="I">
			<li>Find a DA member tell them you want to join!</li>
			<li>DA member will nomite you</li>
			<li>Take a Harry Potter test</li>
			<li>Founders vote based on test reults</li>
			<li>Get sorted into house</li>
			<li>Profit!!</li>
		</ol>
		
		
		<p>&copy; MHS DA 2011 </p><address>100 West 500 North, 
Manti, UT 84642</address>
</div>
</div>
	