

	<div class="container">
		<div class="content">
				<%if flash[:message] %>
				<div class="alert-message fade in <%=flash[:type]%>" data-alert="true">
  				<a class="close" href="#">×</a>
  				<p><%= flash[:message] %></p>
				</div>
				
				<%end%>
		

			<div class="page-header">
				<h1>MHS DA</h1><p><small>Where the winners are at</small></p>
				<h1><%=@password%></h1>
			</div>
			
			<h3>What is the DA</h3>
			<p>The DA is a exculsive club of really cool people who among other things love Harry Potter.</p>
			<p>We also enjoy other books and movies such as Inception, The Hunger Games, Lost and Zelda.</p>
			<h3>Sounds like my kinda group how do I join!</h3>
			<p>First off you have to be nominated by and existing member of the DA.
			After nomination you <strong>must</strong> take a test on you knowledge if the Harry Potter World.<br />
			If you do well on the test you will be voted in by the founders of DA</p>
			<p>We know this may seem daunting but don't worry, if you really know Harry Potter it'll be <em>easy</em>, we promise.</p>
			<h3>So where do you meet?</h3>
			<p>The DA meets in the library during either lunch just ask you'll find us!</p>
			<h3>Anything else I need to know?</h3>
			<p>Not really</p>
			<p>&copy; MHS DA 2011 </p><address>100 West 500 North, 
			Manti, UT 84642</address>
		</div>
	</div>
